body {
    font-family:arial sans-serif;
    background: #CCC;
    margin: 0;
}

.hero {
    background-image: url(../imagens/bg-3.jpg);
    height:500px;
    background-position: right center;
    background-size: cover;
}

.hero-content {
    text-align: center;
    color:white;
    margin-top: 150px; 
}

.hero-content h1 {
    text-transform: uppercase;
    font-size: 46px;
    text-shadow: 3px 3px 2px #333;
}

.hero-content p {
    text-transform: uppercase;
    font-size: 18px;
    text-shadow: 3px 3px 2px #7e7e7e;
}

main {
    width:80%;
    margin: auto;
}

.content-section {
    background-color: white;
    padding: 15px;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.content-section h2 {
    font-family: arial;
    background-color: silver;
    padding: 10px;
    margin: 0;
    border-bottom: 2px solid grey;
}

.content-section p {
    line-height: 1.5;
    font-family: arial;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: #ff7c00;
}

.content-section-two {
    background-color: white;
    padding: 15px;
    margin-top: 15px;
}

.content-section-two h2 {
    font-family: arial;
    background-color: silver;
    padding: 10px;
    margin: 0;
    border-bottom: 2px solid grey;
    text-transform: uppercase;
}

.content-section-two p {
    line-height: 1.5;
    font-family: arial;
    font-weight: bold;
    text-transform: uppercase;
    color: #0a5326;
}

.rodape {
    height:80px;
    color:white;
    font-size:14px;
    text-align: center;
    text-shadow: 2px 2px 2px black;
    background: #6b6c68;
    padding-top: 30px;
}

.rodape a {
    color: pink;
    text-decoration: none;
    font-size: 1rem;
}

ul {
    display: flex;
    background-color: #ccc;
    justify-content: space-evenly;
    list-style: none;
    padding-bottom: 10px;
}

ul li {
    font-size: 1.2rem;
    text-transform: uppercase;
}

ul a {
    color: #000;
    text-decoration: none;
}